.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;

}

/* logo and navigation */

.header-menu{
    display: flex;
justify-content: space-between;
   flex-wrap: wrap;
padding: 60px 40px;



}
.nav-list{
    display: flex;
justify-content: center;

}

.nav-item{
    padding: 16px 35px 20px 0px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(205, 205, 205, 1);
    line-height: 1.6;
    letter-spacing: 0.06em;
}
div.logo{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

}
a.logo{
    text-decoration: none;
}
.logo__main{

    font-family: "Georgia";
        font-style: normal;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
}
.logo-under{
margin-left: 4px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
   padding-top: 10px;
}
.nav-link.active{
color: #fafafa;
    display: flex;
    border-bottom: 3px solid #f1cdb3;
}
.nav-link:hover{
color: #fafafa;
}

/* hero */

.hero{
    position: relative;
}
.only-wrapper{
    padding-top: 163px;
    padding-bottom: 243px;
    width: 35%;
    padding-left: 40px;
    /* position: absolute;
    top: 163px;
    left: 0px;
    width: 430px;
    padding-left: 40px;
    padding-bottom: 243px; */
}
.hero__title{
    color: rgba(255, 255, 255, 1);
font-family: 'Georgia', sans-serif;
font-size: 44px;
line-height: 130%;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-bottom: 42px;
}
.hero-subtitle{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: rgba(205, 205, 205, 1);
    padding-bottom: 42px;
}
.hero__button{
    background: rgba(241, 205, 179, 1);
    height: 52px;
    width: 207px;
    border-radius: 100px;
border: none;
display: flex;
align-items: center;
justify-content: center;

}
.hero__button:hover{
    cursor: pointer;
    border: 2px solid white;
}
.hero__button a{
    color: rgba(41, 41, 41, 1);
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;
font-family: "Georgia";
}
.hero-puppy{
    position: absolute;
    right: 0;
    bottom: 0;
}
div.back{
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

/* about */

.about{
    padding-top: 80px;
    padding-bottom: 100px;
}
.about-wrapper{
    display: flex;
   flex-wrap: wrap;
  justify-content: center;
}
.dog-cat{
padding-right: 120px;
}
.about-paragraph{
max-width: 430px;
   /* padding: 14px 175px 14px 120px; */
display: flex;
flex-direction: column;
flex-wrap: wrap;


}

.about-title{
    max-width: 370px;
    font-family: 'Georgia', sans-serif;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color:  rgba(84, 84, 84, 1);
font-weight: 400;
padding-bottom: 25px;
}
.about1, .about2{
    color: rgba(76, 76, 76, 1);
    font-family: 'Arial', sans-serif;
font-size: 15px;
line-height: 160%;
}
.about1{
    padding-bottom: 25px;
}

/* friends */

.friends{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color:rgba(246, 246, 246, 1);;
}
.friends-title{
font-family: 'Georgia', sans-serif;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: rgba(84, 84, 84, 1);
margin: 0 auto;
max-width: 400px;
text-align: center;

}

.friends-slider{
    padding: 60px 40px;
}
.slider-cards{
    display: flex;
    gap: 90px;
}
.friends-slider{
    display: flex;
    gap: 53px;
    align-items: center;
    justify-content: center;
}
.friends-card{
    width: 270px;
    height: 435px;
    background-color: rgba(250, 250, 250, 1);
}
.friends-card:hover{
    cursor: pointer;
box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FAFAFA;
border-radius: 9px;
}
.friends-card:hover .friends-button{
color: rgba(241, 205, 179, 1);
}
.friends-name{
padding: 30px 0 ;
color:rgba(84, 84, 84, 1);
font-family: 'Georgia', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 1.1;
letter-spacing: 0.06em;
text-align: center;

}
.friends-link{
    text-decoration: none;
}
.friends-button{
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
margin: 0 auto;
border: 2px solid rgba(241, 205, 179, 1);
border-radius: 100px;
background-color:rgba(250, 250, 250, 1) ;
width: 187px;
cursor: pointer;
}


.friends-img{
    border-radius: 9px 9px 0 0;
}
.friends-rest{
background-color:  rgba(241, 205, 179, 1);
display: flex;
align-items: center;
padding: 15px 45px;
width: 262px;
border-radius: 100px;
margin: 0 auto;
border: none;
/* height: 52px; */
gap: 10px;



}
.friends-rest a{
    font-weight: 400;
    text-decoration: none;
    color: rgba(41, 41, 41, 1);
    font-family: 'Georgia', sans-serif;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
padding: 0;

}
.friends-rest:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.friends-arrow{
    width: 52px;
    height: 52px;
    padding: 23px 19px;
    align-items: center;
    display: flex;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.friends-arrow:hover{
    cursor: pointer;

}
.friends-arrow:hover .arrow{
    fill: rgba(241, 205, 179, 1);
}

/* help*/

.help{
  padding: 80px 40px 100px;
}

.first-row{

    display: flex;
gap: 120px;
justify-content: center;

}
.help-title{
    font-family: 'Georgia', sans-serif;
font-weight: 400;
font-size: 35px;
line-height: 130%;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: rgba(84, 84, 84, 1);
margin: 0 auto;
width: 310px;
align-items: center;
text-align: center;
padding-bottom: 60px;
}
.help-subtitle{
    font-family: 'Georgia',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
letter-spacing: 0.06em;
color: rgba(84, 84, 84, 1);
text-align: center;

padding-top: 30px;
}
.icon{
display: flex;
flex-direction: column;
align-items: center;
}

.second-row{
    display: flex;
justify-content: center;
    padding-top: 55px;
    gap: 120px;
}

/* donation */

.donation{
    background-color: rgba(246, 246, 246, 1);
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation-wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.donation-information{
    max-width: 380px;
}
.donation-title{
    font-family: 'Georgia', sans-serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: rgba(84, 84, 84, 1);
        width: 300px;

padding-bottom: 20px;

}
.donation-paragraph{
font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
}
.donation-card{
    display: flex;
background-color: rgba(241, 205, 179, 1);
align-items: center;
padding: 10px 15px;
gap: 10px;
border-radius: 9px;
width: 350px;


}
.card-number{
font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(84, 84, 84, 1);


}
.legal{
    color: rgba(178, 178, 178, 1);
    font-family: 'Arial', sans-serif;
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 150%;
padding-top: 20px;
}
